<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Descenders Split Timer</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/Descenders Competitive-modified.png">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="Description" content="Descenders Competitve UI">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    </head>
    <body style="padding:0; margin:0;">
        <div id="app">
            <v-app style="font-family: MontHeavy; background: #0047bb;">
                <v-main v-if="go">

                    <v-expand-x-transition>
                        <v-alert style="text-align: center; font-size:100px" max-width="800" justify="text-center">
                            [[name]]<br>[[time]]
                        </v-alert>
                    </v-expand-x-transition>

                    <v-expand-x-transition>
                        <v-alert dense style="text-align: center; font-size:100px" max-width="800" :color="split_time_colour((split_times[split_times.length-1]-fastest_split_times[split_times.length-1]))" v-show="entered_checkpoint">
                            [[get_split_time_difference((split_times[split_times.length-1]-fastest_split_times[split_times.length-1]))]]
                        </v-alert>
                    </v-expand-x-transition>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <style>
        @font-face {
            font-family: MontHeavy;
            src: url("/static/monofonto.otf");
        }
    </style>
    <script>        
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            vuetify : new Vuetify({
                theme: {
                    dark : {
                        primary: '#00b140',
                        secondary: '#424242',
                        accent: '#82B1FF',
                        error: '#FF5252',
                        info: '#2196F3',
                        success: '#4CAF50',
                        warning: '#FFC107',
                    }
            },
            }),
            data : {
                time : 0,
                name: "none",
                time_start: 0,
                split_times: [],
                fastest_split_times: [],
                entered_checkpoint: true,
                go : false,
            },
            methods: {
                split_time_colour(val){
                    if (val <= 0){
                        return "green"
                    }
                    else if (val > 0){
                        return "red"
                    }
                },
                get_split_time_difference(val){
                    val = (Math.round(val*1000)/1000)
                    if (val > 0){
                        return "+" + val.toString();
                    }
                    else{
                        return val.toString();
                    }
                },
                updateData(){
                    $.get("/API/GET-DATA?competitor_only=true&monitored_only=true", function(data){
                        if (data["monitoring"]){
                            app.time_start = data["time_start"]
                            app.name = data["name"]
                            app.split_times = data["split_times"]
                            app.fastest_split_times = data["fastest_split_times"]
                            // if is first checkpoint, don't display checkpoint ui.
                            if (isNaN(app.split_times[app.split_times.length-1]-app.fastest_split_times[app.split_times.length-1])){
                                app.entered_checkpoint = false;
                            }
                            else{
                                app.entered_checkpoint = data["entered_checkpoint"]
                            }
                            app.go = true;
                        }
                        else{
                            console.log("Not Monitoring any players.")
                            app.go = false;
                        }
                    })
                },
                updateTime(){
                    if (app.go){
                        //console.log(app.split_times.length)
                        //console.log(app.fastest_split_times.length)
                        new_time = 0
                        if (app.split_times.length == app.fastest_split_times.length && app.fastest_split_times.length != 0){
                            new_time = Math.round(((app.split_times[app.split_times.length-1]*1000) / 1000) * 1000) / 1000;
                            //if (new_time > 164200000){
                            //    app.time = "Not Started"
                            //}
                        }
                        else{
                            new_time = Math.round((((((new Date()).getTime())) - app.time_start*1000) / 1000) * 1000) / 1000;
                            if (new_time > 164200000){
                                app.time = "Not Started"
                            }
                        }
                        if (new_time < 164200000){
                            intTime = parseFloat(new_time);
                            minutes = Math.trunc(intTime / 60);
                            if (minutes.toString().length == 1){
                                minutes = "0" + minutes.toString();
                            }
                            seconds =  Math.trunc(intTime % 60);
                            if (seconds.toString().length == 1){
                                seconds = "0" + seconds.toString();
                            }
                            fraction = intTime * 1000;
                            fraction =  Math.trunc(fraction % 1000);
                            timeText = minutes.toString() + ":" + seconds.toString() + ":" + fraction.toString();
                            app.time = timeText.toString();
                        }


                        //console.log(app.time);
                    }
                },
            }
        }
        )
        setInterval(function(){
            app.updateData();
        }, 100)
        setInterval(function(){
            app.updateTime()
        }, 1)
    </script>
</html>