<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Descenders Split Timer</title>
        <link rel="stylesheet" href="/static/CSS/main_style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/Images/nohumanman_favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="Description" content="Just a guy and a computer. Take a look at some of my projects!">
        <img src="/static/Gifs/x_glitch.gif" style="display: none;">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    </head>
    <body style="padding:0; margin:0;" style="font-family: MontHeavy;">
        <div id="app">
            <v-app style="font-family: MontHeavy;">
                <v-main>
                    <v-tabs>
                        <v-tab>Players</v-tab>
                        <v-tab>Leaderboards</v-tab>
                        <v-tab-item>
                            <br><br>
                            <v-btn onclick="$.get('/API/TOGGLE-RIDERS-GATE-START')">Open Start Gates (global)</v-btn>
                            <v-checkbox v-model="competitor_only" @click="fastest_is_competitor_only(true);" label="Competitor Only"></v-checkbox>
                            <v-list>
                                <v-container v-for="player in players">
                                    <v-card x-large :color="player.colour">
                                        <v-card-title style="font-size: 40px; text-decoration: underline;">[[player.steam_name]]</v-card-title>
                                        <v-card-text style="font-size: 20px;">
                                            Steam ID - [[player.steam_id]]<br>
                                            Current World - [[player.current_world]]<br>
                                            Trail Start Time - [[player.trail_start_time]]<br>
                                            Split Times - [[player.split_times]]<br>
                                            Current Trail - [[player.current_trail]]
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-checkbox v-model="player.is_competitor" @click="toggle_competitor(player.steam_id)" label="Competitor"></v-checkbox>
                                            <v-spacer></v-spacer>
                                            <v-btn @click="monitor_player(player.steam_id)" :color="getColFromMonitoring(player.being_monitored)"/><v-icon>mdi-cctv</v-icon></v-btn>
                                        </v-card-actions>
                                    </v-card>
                                    <br><br>
                                </v-container>
                            </v-list>
                        </v-tab-item>
                        <v-tab-item>
                            leaderboard_info
                            <v-data-table
                                :headers="leaderboard_headers"
                                :items="leaderboard_info">

                            </v-data-table>
                        </v-tab-item>
                    </v-tabs>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <style>
        @font-face {
            font-family: MontHeavy;
            src: url("/static/monofonto.otf");
        }
    </style>
    <script>        
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            vuetify : new Vuetify({
                theme: {
                    dark : {
                        primary: '#00b140',
                        secondary: '#424242',
                        accent: '#82B1FF',
                        error: '#FF5252',
                        info: '#2196F3',
                        success: '#4CAF50',
                        warning: '#FFC107',
                    }
            },
            }),
            data : {
                players: [{
                    "steam_name" : "stid"
                }],
                "competitor_only" : false,
                leaderboard_info : [
                    {"yote" : "65"},
                    {"yote" : "23"},
                    {"yote" : "23"},
                    {"yote" : "23"}
                ],
                leaderboard_headers : [
                    {text: "steam_id", value: "steam_id"},
                    {text: "steam_name", value:"steam_name"},
                    {text:"is_competitor", value:"is_competitor"},
                    {text:"time_id", value:"time_id"},
                    {text:"timestamp", value:"timestamp"},
                    {text:"trail_name", value:"trail_name"},
                    {text:"was_monitored", value:"was_monitored"},
                    {text:"checkpoint_num", value:"checkpoint_num"},
                    {text:"checkpoint_time", value: "checkpoint_time"}
                ]
            },
            methods: {
                update_players(){
                    console.log("Updating Players")
                    $.get("/API/DASHBOARD/GET-PLAYERS", function(data){
                        app.players = data["players"];
                    })
                },
                getColFromMonitoring(being_monitored){
                    if (being_monitored){
                        return "green"
                    }
                    else{
                        return "black"
                    }
                },
                monitor_player(steam_id){
                    console.log("Monitoring player " + steam_id)
                    $.get('/API/MONITOR/' + steam_id);
                },
                toggle_competitor(steam_id){
                    $.get("/API/BECOME-COMPETITOR/" + steam_id)
                },
                fastest_is_competitor_only(is_enabled){
                    app.fastest_is_competitor_only = is_enabled;

                },
                update_leaderboard(){
                    $.get("/API/DASHBOARD/LEADERBOARD", function(data){
                        app.leaderboard_info = data["data"]
                    })
                }
            }
        }
        )
        setInterval(function(){
            app.update_players();
        }, 500);
        setInterval(function(){
            app.update_leaderboard();
        }, 500);
    </script>
</html>