<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Descenders Split Timer</title>
        <link rel="stylesheet" href="/static/CSS/main_style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/Images/nohumanman_favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="Description" content="Just a guy and a computer. Take a look at some of my projects!">
        <img src="/static/Gifs/x_glitch.gif" style="display: none;">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    </head>
    <body style="padding:0; margin:0;" style="font-family: MontHeavy;">
        <div id="app">
            <v-app style="font-family: MontHeavy;">
                <v-main>
                    <v-tabs>
                        <v-tab>Players</v-tab>
                        <v-tab>Leaderboards</v-tab>
                        <v-tab>Config</v-tab>
                        <v-tab-item>
                            <br>
                            <v-btn dense small onclick="$.get('/API/TOGGLE-RIDERS-GATE-START')">Open Start Gates (for controlled players)</v-btn>
                            <div>Red is Offline, Green is Online, Purple is online & Competitor.</div>
                            <v-list>
                                <v-container v-for="player in players" v-if="(player.is_competitor || !show_competitors_only) && (!show_online_only || player.online)">
                                    
                                    <v-card x-large color="blue">
                                        <v-card-title style="font-size: 40px; text-decoration: underline;">[[player.steam_name]]</v-card-title>
                                        <v-card-text style="font-size: 20px;">
                                            <br>
                                            <v-row v-if="debug">
                                                <v-col>Steam ID</v-col>
                                                <v-col>[[player.steam_id]]</v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>Current World</v-col>
                                                <v-col>[[player.current_world]]</v-col>
                                            </v-row>
                                            <v-row v-if="debug">
                                                <v-col>Trail Start Time</v-col>
                                                <v-col>[[player.trail_start_time]]</v-col>
                                            </v-row>
                                            <v-row v-if="debug">
                                                <v-col>Split Times</v-col>
                                                <v-col>[[player.split_times]]</v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>Current Trail</v-col>
                                                <v-col>[[player.current_trail]]</v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>Current Bike</v-col>
                                                <v-col>[[player.current_bike]]</v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>Total Time on [[player.current_world]]</v-col>
                                                <v-col>[[secondsToHms(player.total_time_on_world)]]</v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>Total time online</v-col>
                                                <v-col>[[secondsToHms(player.total_time)]]</v-col>
                                            </v-row>
                                        <v-card-actions>
                                            <v-badge offset-x="30" offset-y="20" overlap :color="player.colour">
                                                <v-avatar class="mr-3" size="80">
                                                    <v-img size="80" clas="elevation-6" :src="player.avatar_src">
                                                </v-avatar>
                                            </v-badge>
                                            <v-spacer></v-spacer>
                                            <v-checkbox v-model="player.is_competitor" @click="toggle_competitor(player.steam_id)" label="Competitor"></v-checkbox>
                                            <v-spacer></v-spacer>
                                            <v-select v-if="player.steam_id != '1234567890'" item-text="text" :items="ban_options" v-on:input="update_ban_status(player.steam_id, player.ban_state)" v-model="player.ban_state"></v-select>
                                            <v-spacer></v-spacer>
                                            <v-btn @click="monitor_player(player.steam_id)" :color="getColFromMonitoring(player.being_monitored)"/><v-icon>mdi-cctv</v-icon></v-btn>
                                        </v-card-actions>
                                    </v-card>
                                    <br><br>
                                </v-container>
                            </v-list>
                        </v-tab-item>
                        <v-tab-item>
                            leaderboard_info
                            <v-data-table
                                :headers="leaderboard_headers"
                                :items="leaderboard_info">
                            </v-data-table>
                        </v-tab-item>
                        <v-tab-item>
                            <v-col>
                                <v-checkbox dense onclick="$.get('/API/TOGGLE-FASTEST-SPLIT-TIMES')" label="Control split times for competitors."></v-checkbox>
                                <v-checkbox dense onclick="$.get('/API/TOGGLE-FASTEST-SPLIT-TIMES')" label="Control leaderboard for competitors."></v-checkbox>
                                <v-checkbox dense v-model="show_competitors_only" label="Show Competitors Only"></v-checkbox>
                                <v-checkbox dense v-model="show_online_only" label="Show Online Only"></v-checkbox>
                                <v-checkbox dense v-model="debug" label="Debug Mode"></v-checkbox>
                            </v-col>
                        </v-tab-item>
                    </v-tabs>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <style>
        @font-face {
            font-family: MontHeavy;
            src: url("/static/monofonto.otf");
        }
    </style>
    <script>        
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            vuetify : new Vuetify({
                theme: {
                    dark : {
                        primary: '#00b140',
                        secondary: '#424242',
                        accent: '#82B1FF',
                        error: '#FF5252',
                        info: '#2196F3',
                        success: '#4CAF50',
                        warning: '#FFC107',
                    }
            },
            }),
            data : {
                players: [{
                    "steam_name": "STEAM NAME HERE",
                    "steam_id": "STEAM ID HERE",
                    "current_world": "CURRENT WORLD HERE",
                    "trail_start_time": "TRAIL START TIME HERE",
                    "split_times": "SPLIT TIMERS HERE",
                    "is_competitor" : "IS COMPETITOR HERE",
                    "online" : "IS ONLINE HERE",
                    "colour" : "COLOUR HERE",
                    "being_monitored" : "BEING MONITORED HERE",
                    "current_trail" : "YEE",
                    "ban_state" : "timer.players[player].get_ban_status()",
                    "current_bike" : "timer.players[player].current_bike",
                    "total_time_on_world" : "10801",
                    "total_time" : "PlayerDB.get_time_on_world(player)"
                }],
                "competitor_only" : false,
                leaderboard_info : [
                    {"yote" : "65"},
                    {"yote" : "23"},
                    {"yote" : "23"},
                    {"yote" : "23"}
                ],
                show_online_only : false,
                ban_options: ["unbanned", "shadowban", "destroy_player", "quit_game", "crash_game"
            ],
                leaderboard_headers : [
                    {text: "steam_id", value: "steam_id"},
                    {text: "steam_name", value:"steam_name"},
                    {text:"is_competitor", value:"is_competitor"},
                    {text:"time_id", value:"time_id"},
                    {text:"timestamp", value:"timestamp"},
                    {text:"trail_name", value:"trail_name"},
                    {text:"was_monitored", value:"was_monitored"},
                    {text:"checkpoint_num", value:"checkpoint_num"},
                    {text:"checkpoint_time", value: "checkpoint_time"}
                ],
                show_competitors_only : false,
                debug: false,
            },
            methods: {
                update_players(){
                    console.log("Updating Players")
                    $.get("/API/DASHBOARD/GET-PLAYERS", function(data){
                        app.players = data["players"];
                    })
                },
                getColFromMonitoring(being_monitored){
                    if (being_monitored){
                        return "green"
                    }
                    else{
                        return "black"
                    }
                },
                update_ban_status(steam_id, ban_status){
                    $.get("/API/UPDATE-BAN-STATUS/" + steam_id + "?ban_status=" + ban_status);
                },
                monitor_player(steam_id){
                    console.log("Monitoring player " + steam_id)
                    $.get('/API/MONITOR/' + steam_id);
                },
                toggle_competitor(steam_id){
                    $.get("/API/BECOME-COMPETITOR/" + steam_id)
                },
                fastest_is_competitor_only(is_enabled){
                    app.fastest_is_competitor_only = is_enabled;

                },
                update_leaderboard(){
                    $.get("/API/DASHBOARD/LEADERBOARD", function(data){
                        app.leaderboard_info = data["data"]
                    })
                },
                secondsToHms(d) {
                    d = Number(d);
                    var h = Math.floor(d / 3600);
                    var m = Math.floor(d % 3600 / 60);
                    var s = Math.floor(d % 3600 % 60);

                    var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
                    var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
                    var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
                    return hDisplay + mDisplay + sDisplay; 
                }
            }
        }
        )
        setInterval(function(){
            app.update_players();
        }, 200);
        setInterval(function(){
            app.update_leaderboard();
        }, 200);
    </script>
    <style>
        table {
          border-collapse: collapse;
        }
        td {
          border:solid;
          border-width: 1px 1px;
          width:500px;
        }
    </style>
</html>