<html lang="en">
    <head>
        <title>Descenders Modkit</title>
        <link rel="icon" type="image/png" href="/static/images/Descenders Competitive Logo.png">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta property="og:image" content="/static/images/Descenders Competitive Logo.png">
        <meta property="og:title" content="Descenders Split Timer"/>
        <meta property="og:description" content="The web dashboard used to manage and control users and times of Descenders maps with the Descenders Split Timer implemented on them." />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-footer color="black" height="80" transparent app bottom fixed padless>
                    <v-row align="center" justify="center">
                        <v-col align="center" justify="center">
                            <v-btn icon @click="redirect('https://github.com/nohumanman/descenders-modkit')"><v-icon size="60">mdi-github-circle</v-icon></v-btn>
                        </v-col>
                        <v-col align="center" justify="center">
                            Created by nohumanman<br>Using Vuetify & Vue.JS
                        </v-col>
                        <v-col align="center" justify="center">
                            <v-col align="center" justify="center">
                                <v-btn icon @click="redirect('https://discord.com/invite/aqwnkgSxPQ')"><v-icon size="60">mdi-discord</v-icon></v-btn>
                            </v-col>
                        </v-col>
                    </v-row>
                </v-footer>
                <v-main style="padding:100px" v-if="controlled_player != null">
                    <h1 style="text-align:center; text-decoration: underline;">[[controlled_player.name]]</h1>
                    <br>
                    <v-row>
                        <v-col>
                            <v-card>
                                <v-card-title>Commands</v-card-title>
                                <v-row style="padding: 20px;">
                                    <v-col v-for="command in commands">
                                        <v-btn width="100%" @click="RunCommand(controlled_player, command)">[[command.name]]</v-btn>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-col>
                        <v-col v-if="validated == 'AUTHORISED'">
                            <v-card>
                                <v-card-title>Items</v-card-title>
                                <v-row style="padding: 20px;">
                                    <v-select
                                        v-model="item_to_gift"
                                        :items="items"
                                        label="Items to gift"
                                        single-line
                                        item-text="name"
                                        item-value="id"
                                    ></v-select>
                                    <v-btn @click="RunCommand(controlled_player, {'evals': ['UNLOCK_ITEM|' + item_to_gift]})">Unlock Item</v-btn>
                                </v-row>
                            </v-card>
                        </v-col>
                        <v-col>
                            <v-card>
                                <v-text-field v-model="manual_eval"></v-text-field>
                                <v-btn @click="RunCommand(controlled_player, {'evals': [manual_eval]})">Submit Eval</v-btn>
                            </v-card>
                        </v-col>
                        <v-col>
                            <v-card>
                                <v-card-title>Player Statistics</v-card-title>
                                <v-col v-for="value, key in controlled_player">
                                    <v-row>
                                        <v-col>
                                            [[key]]
                                        </v-col>
                                        <v-col v-if="key != 'steam_avatar_src'" :class="[(key == 'address') ? 'spoiler' : '']">
                                            '[[value]]'
                                        </v-col>
                                    </v-row>
                                </v-col>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-card>
                                <v-card-title>Output Log - <v-btn @click="GetPlayerOutputLog(controlled_player)">fetch</v-btn></v-card-title>
                                <div style="width:100%; height: 200px; overflow-y:scroll;" class="code">
                                    <code v-html="cached_output_log"></code>
                                </div>
                            </v-card>
                        </v-col>
                        <v-col>
                            <v-card>
                                <v-card-title>Player-Specific Server Log</v-card-title>
                                <div style="width:100%; height: 200px; overflow-y:scroll;" class="code">
                                    <code>
                                        > test<br>> doesn't do anything<br>> yet.<br>> doesn't do anything<br>> yet.<br>> doesn't do anything<br>> yet.<br>> doesn't do anything<br>> yet.<br>> doesn't do anything<br>> yet.<br>> doesn't do anything<br>> yet.<br>> doesn't do anything<br>> yet.
                                    </code>
                                </div>
                            </v-card>
                        </v-col>
                    </v-row>
                    <v-btn @click="controlled_player = null; cached_output_log = '';">Back</v-btn>
                </v-main>
                <v-main v-if="controlled_player == null">
                    <!-- Validation Warning -->
                    <v-banner color="black" v-if="validated != 'AUTHORISED'" style="text-align:center;">
                        You are not permitted to modify any user because your discord account is not whitelisted<span v-if="validated != 'UNAUTHORISED'"> - <v-btn @click="redirect('/login')">login</v-btn></span>
                    </v-banner>
                    <!-- Steam ID Manual Input Backup -->
                    <v-overlay
                        v-if="self == null" opacity="1"
                        height="50%" width="50%"
                    >
                        <div
                            style="padding:200px;"
                            v-if="validated == 'AUTHORISED'"
                        >
                            <v-text-field
                                placeholder="Please enter your steam ID."
                                v-model="valee"
                            ></v-text-field>
                            <br><br>
                            If you're seeing this, you haven't linked your steam account to your discord account, so we can't take your steam id automatically.
                            <br><br>
                            <v-btn @click="setSelf(valee)">
                                SUBMIT STEAM ID
                            </v-btn>
                        </div>
                        <div v-if="validated == 'UNKNOWN'" style="text-align:center;">
                            <v-btn @click="redirect('/login')">
                                LOGIN WITH DISCORD
                            </v-btn>
                            <br><br>or<br><br>
                            <v-btn @click="setSelf('UNKNOWN')">
                                LOGIN AS GUEST
                            </v-btn>
                        </div>
                    </v-overlay>
                    <v-tabs v-model="tab">
                        <v-tab>Dashboard</v-tab>
                        <v-tab>Times</v-tab>
                        <v-tab>Trails</v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab" fill-height style="height:100%;">
                        <v-tab-item>
                            <h1 style="text-align:center; font-size:50px;">
                                Descenders Modkit
                            </h1>
                            <h2 style="text-align:center; font-size:30px;">
                                Dashboard
                            </h2>
                            <h2 style="text-align:center;">Your Steam ID [[self]]</h2>
                            <h2 style="text-align:center;">Currently [[players.length-1]] Concurrent Users</h2>
                            <v-col align="center" justify="center">
                                <v-row align="center" justify="center">
                                    <v-switch inset v-model="display_pfps" label="Show Profile Pictures"></v-switch>
                                </v-row>
                            </v-col>
                            
                            <v-row>
                                <v-col
                                    class="fill-height"
                                    :key="player.id"
                                    v-for="player in players"
                                    style="padding:30px;"
                                >
                                <template>
                                <v-hover v-slot="{ hover }">
                                        <v-card color="black" width="400px">
                                            <v-col>
                                                <v-row justify="center" style="text-align:center; font-size: 30px;">
                                                    [[player.name]]
                                                </v-row>
                                                <v-row justify="center">
                                                    on [[player.world_name]]
                                                </v-row>
                                                <v-row justify="center">
                                                    with [[player.reputation]] rep
                                                </v-row>
                                                <v-row justify="center">
                                                    on a '[[player.bike_type]]' bike
                                                </v-row>
                                                <v-row v-if="display_pfps">
                                                    <v-img :src="player.steam_avatar_src"></v-img>
                                                </v-row>
                                                <v-row v-if="!display_pfps">
                                                    <v-img src="/static/images/hidden.jpg"></v-img>
                                                </v-row>
                                                <v-row justify="center">
                                                    [[player.id]] v[[player.version]]
                                                </v-row>
                                            </v-col>
                                            <v-fade-transition>
                                                <v-overlay
                                                    v-if="hover"
                                                    absolute
                                                    color="#036358"
                                                >
                                                    <v-row>
                                                        <v-col><v-btn @click="controlled_player = player; GetPlayerOutputLog(controlled_player)">Control</v-btn></v-col>
                                                        <v-col><v-btn>Spectate</v-btn></v-col>
                                                    </v-row>
                                                </v-overlay>
                                            </v-fade-transition>
                                        </v-card>
                                </v-hover>
                                </template>
                                </v-col>
                                <v-col v-for="x in 4" style="padding:40px;" v-if="(players.length + x+1) % 4 != 0">
                                    <v-card width="400px">
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-tab-item>
                        <v-tab-item fill-height>
                            <h1 style="text-align:center; font-size:50px;">
                                Descenders Modkit
                            </h1>
                            <h2 style="text-align:center; font-size:30px;">
                                All Times
                            </h2>
                            <v-container fill-height>
                                <v-row>
                                    <v-col>
                                        <v-btn @click="getLeaderboard()">Reset Leaderboard</v-btn>
                                    </v-col>
                                </v-row>
                                <v-row v-if="times.length == 0" style="width:100%; height:100%;" fill-height>
                                    <v-col fill-height> 
                                        <v-progress-linear style="text-align: center;"
                                            indeterminate
                                            size="300"
                                            color="primary"
                                        ></v-progress-linear>
                                        <br>
                                        <p style="text-align: center;">Times may take a while to load...</p>
                                    </v-col>
                                </v-row>
                                <div v-if="times.length != 0">
                                        <table style="color:white; border:white; padding: 0; margin: 0;">
                                            <tr>
                                                <th style="padding:10px;">pfp</th>
                                                <th style="padding:10px;">Steam Name</th>
                                                <th style="padding:10px;">Submission Date</th>
                                                <th style="padding:10px; color:rgb(138, 138, 255)">Time</th>
                                                <th style="padding:10px;">Steam ID</th>
                                                <th style="padding:10px;">Time ID</th>
                                                <th style="padding:10px;">World Name</th>
                                                <th style="padding:10px;">Trail Name</th>
                                                <th style="padding:10px;">ignore</th>
                                                <th style="padding:10px;">Start Speed</th>
                                                <th style="padding:10px;">Version</th>
                                                <th style="padding:10px;">Replays</th>
                                            </tr>
                                            <tr v-for="time, x in times">
                                                <td style="padding:10px;"><img height="50" width="50" :src="time.avatar_src"></td>
                                                <td style="padding:10px;">[[time.steam_name]]</td>
                                                <td style="padding:10px; color:rgb(138, 138, 255)">[[timestamp_to_date(time.timestamp)]]</td>
                                                <td style="padding:10px; color:rgb(138, 138, 255)">[[secs_to_str(time.total_time)]]</td>
                                                <td style="padding:10px;">[[time.steam_id]]</td>
                                                <td style="padding:10px;">[[time.time_id]]</td>
                                                <td style="padding:10px;">[[time.world_name]]</td>
                                                <td style="padding:10px;">[[time.trail_name]]</td>
                                                <td style="padding:10px;">
                                                    <v-switch v-model="time.ignore" @click="UpdateTimeIgnore(time)" :false-value="'False'" :true-value="'True'"></v-switch>
                                                </td>
                                                <td style="padding:10px;">[[time.starting_speed]]</td>
                                                <td style="padding:10px;">[[time.version]]</td>
                                                <td style="padding:10px;"><v-btn :href="'/static/replays/' + time.time_id + '.replay'">replay</v-btn></td>
                                            </tr>
                                        </table>
                                </div>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item>
                            <h1 style="text-align:center; font-size:50px;">
                                Descenders Modkit
                            </h1>
                            <h2 style="text-align:center; font-size:30px;">
                                Trail Times
                            </h2>
                            <!-- <v-btn @click="GetTrails()">Update Trails</v-btn> !-->
                            <br>
                            <v-row>
                                <v-col v-for="trail in trails" style="padding:30px;">
                                    <v-card width="400" color="teal">
                                        <v-img :src="trail.src">
                                            <div style="background:rgba(0, 0, 0, 0.543);">
                                                <v-col align="center" style="text-align:center;">
                                                    <v-row align="center">
                                                        <v-card-title>[[trail.trail_name]]</v-card-title>
                                                    </v-row>
                                                </v-col>
                                            </div>
                                        </v-img>
                                        <br><br>
                                        <p style="padding-left:20px; padding-right:20px;">
                                            A trail on <b>[[trail.world_name]]</b> that has been ridden <i>[[trail.times_ridden]]</i> times with an average starting time of [[Math.round(trail.average_start_speed)]].
                                        </p>
                                        <v-col align="center" style="padding:50px;">
                                            <v-row v-for="player in trail.leaderboard" style="text-align:center">
                                                [[player.place]]. [[player.name]] - [[secs_to_str(player.time)]]
                                            </v-row>
                                            <v-row v-for="x in 10-trail.leaderboard.length">
                                                [[trail.leaderboard.length+x]].
                                            </v-row>
                                        </v-col>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-tab-item>
                    </v-tabs-items>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Source+Code+Pro:wght@700&display=swap');
        * {
            font-family: 'Source Code Pro', monospace;
        }
        .spoiler{
            color: red;
            filter: blur(10px);
        }
        .spoiler:hover{
            animation-name: example;
            animation-duration: 0.3s;
            animation-delay: 0.3s;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }
        
        @keyframes example {
            from {
                filter: blur(10px);
            }
            to {
                filter:blur(0px);
            }
        }
        .code{
            background-color: black;
            color:rgb(42, 221, 42);
        }
    </style>
</html>