<html>
    <body>
        <h1>This is in beta. Don't complain.</h1>
        <table>
            <tr>
                <th>Steam ID</th>
                <td>{{steam_id}}</td>
            </tr>
            <tr>
                <th>Steam Name</th>
                <td>{{steam_name}}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{timestamp}}</td>
            </tr>
            <tr>
                <th>Time ID</th>
                <td>{{time_id}}</td>
            </tr>
            <tr>
                <th>Replay</th>
                <td><a href="/static/replays/{{time_id}}.replay">Replay</a></td>
            </tr>
            <tr>
                <th>Total Time</th>
                <td>{{total_time}}</td>
            </tr>
            <tr>
                <th>Trail Name</th>
                <td>{{trail_name}}</td>
            </tr>
            <tr>
                <th>World Name</th>
                <td>{{world_name}}</td>
            </tr>
            <tr>
                <th>Ignore</th>
                <td>{{ignore}}</td>
            </tr>
            <tr>
                <th>Bike Type</th>
                <td>{{bike_type}}</td>
            </tr>
            <tr>
                <th>Starting Speed</th>
                <td>{{starting_speed}}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{version}}</td>
            </tr>
            <tr>
                <th>Verified</th>
                <td>{{verified}}</td>
            </tr>
            <tr>
                <th>Verify it</th>
                <td><a target="_blank" href="/verify_time/{{time_id}}">verify this time</a></td>
            </tr>
        </table>        
    </body>
</html>