<html lang="en" class="transparent">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Leaderboard</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/Descenders Competitive Logo.png">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta property="OG:image" content="/static/images/Descenders Competitive Logo.png">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body class="transparent">
        <div id="app" class="transparent">
            <v-app class="transparent">
                <v-main class="transparent">
                    <h1 class="transparent" style="text-align:center; font-size:70px; top:50%;">
                        [[spectating]]
                    </h1>
                    <h2 v-if="getSelf() == ''">
                        INCORRECT SETUP, ADD
                        <code>
                            :root{
                                --name: yoursteamname;
                            }
                        </code>
                        TO CUSTOM CSS
                    </h2>
                </v-main>
            </v-app>
        </div>
    </body>
    <style>
        .transparent{
            background-color:rgba(0, 0, 0, 0);
            color: white;
        }
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        *{
            font-family: 'Roboto', sans-serif;
        }
        body {
            overflow-y: hidden; /* Hide vertical scrollbar */
            overflow-x: hidden; /* Hide horizontal scrollbar */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/static/js/PlayerTag.js"></script>
</html>