<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Dev Portal</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/ProjectIcons/nohumanman.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="Description" content="Just a guy and a computer. Take a look at some of my projects!">
        <meta property="OG:description" content="Just a guy and a computer. Take a look at some of my projects!">
        <meta property="OG:image" content="/static/images/PorjectIcons/Me.jpg">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-overlay v-if="self == null" opacity="1">
                        <v-text-field
                            placeholder="Please enter your steam ID."
                            v-model="valee"
                        ></v-text-field>
                        <v-btn @click="setSelf(valee)">SUBMIT STEAM ID</v-btn>
                    </v-overlay>
                    <v-overlay opacity="1" v-model="controlling">
                        <v-btn @click="controlling = false;"><v-icon>mdi-exit-to-app</v-icon></v-btn>
                        You are currently controlling "[[controlled_player.name]]"
                        <v-text-field placeholder="Command" v-model="command"></v-text-field>
                        <v-btn @click="SubmitEval(controlled_player.id, command)">SUBMIT</v-btn>
                        <v-slider
                            hint="Time.timeScale"
                            v-on:change="changeRoute"
                            max="4"
                            min="0"
                            step="0.1"
                            thumb-label="always"
                        ></v-slider>
                    </v-overlay>
                    <br>
                    <h1 style="text-align:center; font-size:50px; text-decoration: underline;">Descenders Split Timer</h1>
                    <br>
                    <v-slider
                        hint="Time.timeScale"
                        v-on:change="changeRouteAll"
                        max="4"
                        min="0"
                        step="0.1"
                        thumb-label="always"
                    ></v-slider>
                    <br>
                    <v-btn @click="RidersGate();">RIDERS GATE</v-btn>
                    <v-btn @click="Randomise();">Randomise</v-btn>
                    <div style="background-color:rgba(16, 120, 168, 0.292); width:50%; margin:0 auto; border-radius: 10px;">
                        <v-text-field
                            style="padding:20px; text-align:center;"
                            clearable
                            label="Search for user"
                            v-model="search_value"
                        ></v-text-field>
                    </div>
                    <v-row>
                        <v-col v-if="search_value == '' || id.name.includes(search_value)"  v-for="id in ids" style="padding:40px;">
                            <v-card width="400px" :loading="loading">
                                <v-card-title>
                                    <v-avatar size="75">
                                        <img alt="user" :src="id.steam_avatar_src">
                                    </v-avatar>
                                    <p style="font-size:40px; padding-left:20px;">
                                        [[id.name]]
                                    </p>
                                    <br><br>
                                    <div style="width: 100%;">
                                        <p style="text-align:center;">
                                            ([[id.id]])
                                        </p>
                                        <p style="text-align:center;">
                                            Total time in [[id.world_name]] - [[toHours(id.total_time)]]
                                        </p>
                                        <v-card-actions class="justify-center">
                                            <v-btn @click="SubmitEval(id.id, 'SET_BIKE|2')">Hardtail</v-btn>
                                            <v-btn @click="SubmitEval(id.id, 'SET_BIKE|1')">Downhill</v-btn>
                                            <v-btn @click="SubmitEval(id.id, 'SET_BIKE|0')">Enduro</v-btn>
                                        </v-card-actions>
                                    </div>
                                </v-card-title>
                                <v-card-actions class="justify-center">
                                    <v-btn @click="Spectate(id)" outlined color="green">
                                        <v-icon>mdi-eye</v-icon>
                                    </v-btn>
                                    <v-btn @click="SubmitEval(id.id, 'RESPAWN_AT_START')" outlined color="blue">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                    <v-btn color="white" @click="ToggleControl(id);">
                                        <v-icon>mdi-pause-octagon</v-icon>
                                    </v-btn>
                                    <v-btn @click="SubmitEval(id.id, 'RESPAWN_ON_TRACK')" outlined color="red">
                                        <v-icon>mdi-recycle</v-icon>
                                    </v-btn>
                                    <v-btn @click="controlled_player = id; controlling = true;">
                                        <v-icon>mdi-open-in-new</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/static/js/dashboard.js"></script>

</html>