<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>D-Split Dashboard</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/Descenders Competitive Logo.png">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta property="OG:image" content="/static/images/Descenders Competitive Logo.png">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-banner color="red" v-if="validated != 'AUTHORISED'">
                    You are not permitted to modify any user's status because your steam account is not whitelisted.
                </v-banner>
                <v-main>
                    <v-overlay v-if="self == null" opacity="1">
                        <v-text-field
                            placeholder="Please enter your steam ID."
                            v-model="valee"
                        ></v-text-field>
                        <v-btn @click="setSelf(valee)">SUBMIT STEAM ID</v-btn>
                    </v-overlay>
                    <v-overlay opacity="1" v-model="controlling">
                        <div style="padding:200px;">
                        <v-btn @click="controlling = false;"><v-icon>mdi-exit-to-app</v-icon></v-btn>
                        <br><br>
                        <h1 style="text-align:center; font-size:50px;">Controlling [[controlled_player.name]]</h1>
                        <br><br>
                        <h1 style="text-align:center;">Commands</h1>
                        <br>
                        <v-row>
                            <v-col class="d-flex justify-center" v-for="command in commands">
                                <v-btn :color="stringToColour(command.eval)" size="50" @click="SubmitEval(controlled_player.id, command.eval)">
                                    [[command.name]]
                                </v-btn>
                            </v-col>
                        </v-row>
                        <br><br>
                        <h1>Time Control</h1>
                        <br><br>
                        <v-slider
                            hint="Time.timeScale"
                            v-on:change="changeRoute"
                            v-model="timeScale"
                            max="4"
                            min="0"
                            step="0.1"
                            thumb-label="always"
                        ></v-slider>
                        <br><br>
                        <v-spacer color="blue"></v-spacer>
                        <h1>Dev CLI</h1>
                        <v-text-field placeholder="Command" v-model="command"></v-text-field>
                        <v-btn @click="SubmitEval(controlled_player.id, command)">SUBMIT</v-btn>
                        </div>
                    </v-overlay>
                    <br>
                    <h1 style="text-align:center; font-size:50px;">
                        D-Split Dashboard
                    </h1>
                    <h2 style="text-align:center;">Current Concurrent Users: [[ids.length-1]]</h2>
                    <h2 style="text-align:center;">Players are sorted alphabetically</h2>
                    <br>
                    <v-divider color="#4287f5"></v-divider>
                    <br>
                    <v-row align="center" justify="center" class="d-flex justify-center">
                        <v-col class="d-flex justify-center">
                            <v-btn @click="Randomise();">Disable Gates</v-btn>
                        </v-col>
                        <v-col class="d-flex justify-center">
                            <v-autocomplete
                                v-model="search"
                                :items="ids"
                                item-text="name"
                                item-value="id"
                                clearable
                                label="Search for a player"
                            ></v-autocomplete>
                        </v-col>
                        <v-col class="d-flex justify-center">
                            <v-switch
                                v-model="onlineOnly"
                                label="Online Only"
                            ></v-switch>
                        </v-col>
                        <v-col class="d-flex justify-center">
                            <v-switch
                                v-model="streamControls"
                                label="Stream Controls"
                            ></v-switch>
                        </v-col>
                    </v-row>
                    <br>
                    <v-divider color="#4287f5"></v-divider>
                    <v-row>
                        <v-col class="fill-height" v-if="search == null || search == id.id" :key="id.id" v-for="id in ids" style="padding:30px;">
                            <v-card :color="stringToColour(id.version)" width="400px" :loading="loading">
                                <v-col>
                                    <v-row justify="center">
                                        <p style="text-align:center;">v[[id.version]]</p>
                                    </v-row>
                                    <v-row justify="center">
                                        <v-avatar size="200">
                                            <img alt="user" :src="id.steam_avatar_src">
                                        </v-avatar>
                                    </v-row>
                                    <v-row justify="center">
                                        <p style="font-size:40px;">[[id.name]]</p>
                                    </v-row>
                                    <v-row justify="center">
                                        ([[id.id]])
                                    </v-row>
                                    <v-row justify="center">
                                        <p style="text-align:center;">
                                            <span style="text-decoration:underline;">Total time in [[id.world_name]]</span>
                                            <br>[[toHours(id.total_time)]]
                                        </p>
                                    </v-row>
                                    <v-row justify="center">
                                        Last Trick '[[id.last_trick]]'
                                    </v-row>
                                    <v-row justify="center">
                                        <p>Rep - [[id.reputation]]</p>
                                    </v-row>
                                    <v-row justify="center">
                                        [[id.trails]]
                                    </v-row>
                                </v-col>
                                <v-card-actions class="justify-center">
                                    <v-btn @click="SubmitEval(id.id, 'SET_BIKE|2')">Hardtail</v-btn>
                                    <v-btn @click="SubmitEval(id.id, 'SET_BIKE|1')">Downhill</v-btn>
                                    <v-btn @click="SubmitEval(id.id, 'SET_BIKE|0')">Enduro</v-btn>
                                </v-card-actions>
                                <br>
                                <span v-if="streamControls">
                                    <v-divider color="pink"></v-divider>
                                    <br>
                                    <v-card-actions class="justify-center">
                                        <v-btn color="lime" width="110px" height="110px" @click="Spectate(id)">Spectate</v-btn>
                                        <v-btn width="110px" height="110px" @click="SubmitEval(id.id, 'RIDERSGATE|2')">Trigger Gate</v-btn>
                                    </v-card-actions>
                                </span>

                            
                                <v-card-actions class="justify-center">
                                    <v-btn @click="controlled_player = id; controlling = true;">
                                        <v-icon>mdi-open-in-new</v-icon>
                                    </v-btn>
                                </v-card-actions>
                                
                            </v-card>
                        </v-col>
                        <v-col v-for="x in 4" style="padding:40px;" v-if="(ids.length + x+1) % 4 != 0">
                            <v-card width="400px">

                            </v-card>
                        </v-col>
                    </v-row>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Source+Code+Pro:wght@700&display=swap');
        * {
            font-family: 'Source Code Pro', monospace;
        }
    </style>
</html>