<html lang="en">
    <head>
        <title>Desc Comp Tools</title>
        <link rel="icon" type="image/png" href="/static/images/Descenders Competitive Logo.png">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta property="og:image" content="/static/images/Descenders Competitive Logo.png">
        <meta property="og:title" content="Descenders Split Timer"/>
        <meta property="og:description" content="The web dashboard used to manage and control users and times of Descenders maps with the Descenders Split Timer implemented on them." />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <!-- Validation Warning -->
                    <v-banner color="red" v-if="validated != 'AUTHORISED'">
                        You are not permitted to modify any user because your discord account is not whitelisted<span v-if="validated != 'UNAUTHORISED'"> - <v-btn @click="redirect('/login')">login</v-btn></span>
                    </v-banner>
                    <!-- Steam ID Manual Input Backup -->
                    <v-overlay
                        v-if="self == ''" opacity="1"
                        height="50%" width="50%"
                    >
                        <div
                            style="padding:200px;"
                            v-if="validated == 'AUTHORISED'"
                        >
                            <v-text-field
                                placeholder="Please enter your steam ID."
                                v-model="valee"
                            ></v-text-field>
                            <br><br>
                            If you're seeing this, you haven't linked your steam account to your discord account, so we can't take your steam id automatically.
                            <br><br>
                            <v-btn @click="setSelf(valee)">
                                SUBMIT STEAM ID
                            </v-btn>
                        </div>
                        <div v-if="validated == 'UNKNOWN'" style="text-align:center;">
                            <v-btn @click="redirect('/login')">
                                LOGIN WITH DISCORD
                            </v-btn>
                            <br><br>or<br><br>
                            <v-btn @click="setSelf('UNKNOWN')">
                                LOGIN AS GUEST
                            </v-btn>
                        </div>
                    </v-overlay>
                    <v-overlay opacity="1" v-model="controlling">
                        <div style="padding:200px;">
                        <v-btn @click="controlling = false;">
                            <v-icon>mdi-exit-to-app</v-icon>
                        </v-btn>
                        <br><br>
                        <h1 style="text-align:center; font-size:50px;">
                            Controlling [[controlled_player.name]]
                        </h1>
                        <br><br>
                        <h1 style="text-align:center;">
                            Commands
                        </h1>
                        <br>
                        <v-row>
                            <v-col class="d-flex justify-center" v-for="command in commands">
                                <v-btn :color="stringToColour(command.eval)" size="50" @click="SubmitEval(controlled_player.id, command.eval)">
                                    [[command.name]]
                                </v-btn>
                            </v-col>
                        </v-row>
                        <br><br>
                        <h1>Time Control</h1>
                        <br><br>
                        <v-slider
                            hint="Time.timeScale"
                            v-on:change="changeRoute"
                            v-model="timeScale"
                            max="4"
                            min="0"
                            step="0.1"
                            thumb-label="always"
                        ></v-slider>
                        <br><br>
                        <v-spacer color="blue"></v-spacer>
                        <h1>Dev CLI</h1>
                        <v-text-field placeholder="Command" v-model="command"></v-text-field>
                        <v-btn @click="SubmitEval(controlled_player.id, command)">SUBMIT</v-btn>
                        </div>
                    </v-overlay>
                    <v-tabs v-model="tab">
                        <v-tab>User Dashboard</v-tab>
                        <v-tab>Times</v-tab>
                        <v-tab>Worlds</v-tab>
                        <v-tab>Trails</v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab" fill-height>
                        <v-tab-item>
                            <h1 style="text-align:center; font-size:50px;">
                                Descenders Competitive Toolkit
                            </h1>
                            <h2 style="text-align:center;">Your Steam ID: [[self]] <v-btn @click="copyText(self);"><v-icon>mdi-content-copy</v-icon></v-btn></h2>
                            <h2 style="text-align:center;">Current Concurrent Users: [[ids.length-1]]</h2>
                            <h2 style="text-align:center;">Players are sorted alphabetically</h2>
                            <br>
                            <v-divider color="#4287f5"></v-divider>
                            <br>
                            <v-row align="center" justify="center" class="d-flex justify-center">
                                <v-col class="d-flex justify-center">
                                    <v-switch
                                        v-model="showAvatars"
                                        label="Show Avatars"
                                    ></v-switch>
                                </v-col>
                                <v-col class="d-flex justify-center">
                                    <v-autocomplete
                                        v-model="search"
                                        :items="ids"
                                        item-text="name"
                                        item-value="id"
                                        clearable
                                        label="Search for a player"
                                    ></v-autocomplete>
                                </v-col>
                                <v-col class="d-flex justify-center">
                                    <v-switch
                                        v-model="streamControls"
                                        label="Stream Controls"
                                    ></v-switch>
                                </v-col>
                            </v-row>
                            <br>
                            <v-divider color="#4287f5"></v-divider>
                            <v-row>
                                <v-col class="fill-height" v-if="search == null || search == id.id" :key="id.id" v-for="id in ids" style="padding:30px;">
                                    <v-card width="400px" color="teal" :loading="loading">
                                        <v-col>
                                            <br>
                                            <v-row justify="center">
                                                <p style="text-align:center;">v[[id.version]]</p>
                                            </v-row>
                                            <v-row justify="center" v-if="showAvatars">
                                                <v-avatar size="200">
                                                    <img alt="user" :src="id.steam_avatar_src">
                                                </v-avatar>
                                            </v-row>
                                            <v-row justify="center">
                                                <p style="font-size:40px;">[[id.name]]</p>
                                            </v-row>
                                            <v-row justify="center">
                                                id - [[id.id]]
                                            </v-row>
                                            <br><br>
                                            <v-row justify="center">
                                                <p style="text-align:center;">
                                                    Time in all maps:<br>[[toHours(id.total_time + timeFromTimestamp(id.time_loaded))]]
                                                    <br><br>Time in <span :style="{color: stringToColour(id.world_name)}">[[id.world_name]]</span>:<br>[[toHours(id.time_on_world + timeFromTimestamp(id.time_loaded))]]
                                                </p>
                                            </v-row>
                                            <v-row justify="center">
                                                Last Trick '[[id.last_trick]]'
                                            </v-row>
                                            <br><br>
                                            <v-row justify="center">
                                                Spectating '[[id.spectating]]'
                                            </v-row>
                                            <br><br>
                                            <v-row justify="center">
                                                Pos: '[[id.pos]]'
                                            </v-row>
                                            <br><br>
                                            <v-row justify="center">
                                                <p>Reputation: [[addCommaToNum(id.reputation)]]</p><br>
                                            </v-row>
                                            <span v-if="id.address != null">
                                                <br><br>
                                                <v-row justify="center">
                                                    IP: <div class="spoiler">[[id.address]]</div>
                                                </v-row>
                                            </span>
                                            <br>
                                        </v-col>
                                        <v-card-actions class="justify-center">
                                            <v-btn
                                                @click="SubmitEval(id.id, 'SET_BIKE|2')"
                                                :color="getColourOfBikeSelect('hardtail', id.bike_type)"
                                            >Hardtail</v-btn>
                                            <v-btn
                                                @click="SubmitEval(id.id, 'SET_BIKE|1')"
                                                :color="getColourOfBikeSelect('downhill', id.bike_type)"
                                            >Downhill</v-btn>
                                            <v-btn
                                                @click="SubmitEval(id.id, 'SET_BIKE|0')"
                                                :color="getColourOfBikeSelect('enduro', id.bike_type)"
                                            >Enduro</v-btn>
                                        </v-card-actions>
                                        <br>
                                        <span v-if="streamControls">
                                            <v-divider color="pink"></v-divider>
                                            <br>
                                            <v-card-actions class="justify-center">
                                                <v-btn color="lime" width="110px" height="110px" @click="Spectate(id)">Spectate</v-btn>
                                                <v-btn width="110px" height="110px" @click="SubmitEval(id.id, 'RIDERSGATE|2')">Trigger Gate</v-btn>
                                            </v-card-actions>
                                        </span>
                                        <v-card-actions class="justify-center">
                                            <v-btn @click="controlled_player = id; controlling = true;">
                                                <v-icon>mdi-open-in-new</v-icon>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>
                                <v-col v-for="x in 4" style="padding:40px;" v-if="(ids.length + x+1) % 4 != 0">
                                    <v-card width="400px">
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-tab-item>
                        <v-tab-item fill-height>
                            <v-container fill-height>
                                <v-row>
                                    <v-col>
                                        <v-btn @click="getLeaderboard()">Reset Leaderboard</v-btn>
                                        <v-slider
                                            v-model="lim"
                                            color="orange"
                                            label="Limit"
                                            hint="Go as high as you want!"
                                            min="1"
                                            max="10000"
                                            v-on:change="getLeaderboard()"
                                            thumb-label
                                        ></v-slider>
                                    </v-col>
                                </v-row>
                                <v-row v-if="times.length == 0" style="width:100%; height:100%;" fill-height>
                                    <v-col fill-height> 
                                        <v-progress-linear style="text-align: center;"
                                            indeterminate
                                            size="300"
                                            color="primary"
                                        ></v-progress-linear>
                                        <br>
                                        <p style="text-align: center;">Times may take a while to load...</p>
                                    </v-col>
                                </v-row>
                                <div v-if="times.length != 0">
                                    <v-col>
                                        <table style="color:white; border:white;">
                                            <tr>
                                                <th style="padding:10px;">pfp</th>
                                                <th style="padding:10px;">Steam Name</th>
                                                <th style="padding:10px;">Steam ID</th>
                                                <th style="padding:10px;">Time ID</th>
                                                <th style="padding:10px;">World Name</th>
                                                <th style="padding:10px;">Trail Name</th>
                                                <th style="padding:10px; color:rgb(138, 138, 255)">Time</th>
                                                <th style="padding:10px;">Should Ignore Time</th>
                                                <th style="padding:10px;">Was Monitored</th>
                                                <th style="padding:10px;">Starting Speed</th>
                                                <th style="padding:10px;">Version</th>
                                                <th style="padding:10px;">Ignore Time</th>
                                                <th style="padding:10px;">Toggle Monitored</th>
                                            </tr>
                                            <tr v-for="time, x in times">
                                                <td style="padding:10px;"><img height="50" width="50" :src="time.avatar_src"></td>
                                                <td style="padding:10px;">[[time.steam_name]]</td>
                                                <td style="padding:10px;">[[time.steam_id]]</td>
                                                <td style="padding:10px;">[[time.time_id]]</td>
                                                <td style="padding:10px;">[[time.world_name]]</td>
                                                <td style="padding:10px;">[[time.trail_name]]</td>
                                                <td style="padding:10px; color:rgb(138, 138, 255)">[[secs_to_str(time.total_time)]]</td>
                                                <td style="padding:10px;">[[time.ignore]]</td>
                                                <td style="padding:10px;">[[time.was_monitored]]</td>
                                                <td style="padding:10px;">[[time.starting_speed]]</td>
                                                <td style="padding:10px;">[[time.version]]</td>
                                                <td style="padding:10px;"><v-btn
                                                    @click="ignr(time)"
                                                >Ignore Time</v-btn></td>
                                                <td style="padding:10px;"><v-btn
                                                    @click="tgglmntb(time)"
                                                >Toggle Monitored</v-btn></td>
                                            </tr>
                                        </table>
                                    </v-col>
                                </div>
                            </v-container>
                        </v-tab-item>
                        <v-tab-item>
                            <br><br>
                            <v-select
                                :items="worlds"
                                v-model="daily_player_world"
                                item-text="world_name"
                                item-value="world_name"
                                label="World Selector"
                                prepend-icon="mdi-earth"
                                v-on:change="GetConcurrency"
                                clearable
                            ></v-select>
                            <v-sparkline
                                :labels="concurrencyLabels"
                                :value="concurrentUsers"
                                auto-draw
                                line-width="0.2"
                                label-size="3"
                                stroke-linecap="round"
                            ></v-sparkline>
                        </v-tab-item>
                        <v-tab-item>
                            <!-- <v-btn @click="GetTrails()">Update Trails</v-btn> !-->
                            <br>
                            <v-row>
                                <v-col v-for="trail in trails" style="padding:30px;">
                                    <v-card width="400" color="teal">
                                        <v-img :src="trail.src">
                                            <div style="background:rgba(0, 0, 0, 0.543);">
                                                <v-col align="center" style="text-align:center;">
                                                    <v-row align="center">
                                                        <v-card-title>[[trail.trail_name]]</v-card-title>
                                                    </v-row>
                                                </v-col>
                                            </div>
                                        </v-img>
                                        <br><br>
                                        <p style="padding-left:20px; padding-right:20px;">
                                            A trail on <b :style="{color: stringToColour(trail.world_name)}">[[trail.world_name]]</b> that has been ridden <i>[[trail.times_ridden]]</i> times with an average starting time of [[Math.round(trail.average_start_speed)]].
                                        </p>
                                        <v-col align="center" style="padding:50px;">
                                            <v-row v-for="player in trail.leaderboard" style="text-align:center">
                                                [[player.place]]. [[player.name]] - [[secs_to_str(player.time)]]
                                            </v-row>
                                            <v-row v-for="x in 10-trail.leaderboard.length">
                                                [[trail.leaderboard.length+x]].
                                            </v-row>
                                        </v-col>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-tab-item>
                    </v-tabs-items>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Source+Code+Pro:wght@700&display=swap');
        * {
            font-family: 'Source Code Pro', monospace;
        }
        .spoiler{
            filter: blur(10px);
        }
        .spoiler:hover{
            animation-name: example;
            animation-duration: 0.3s;
            animation-delay: 0.3s;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }
        @keyframes example {
            from {
                filter: blur(10px);
            }
            to {
                filter:blur(0px);
            }
        }
    </style>
</html>