<html lang="en" class="transparent">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Dev Portal</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/ProjectIcons/nohumanman.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="Description" content="Just a guy and a computer. Take a look at some of my projects!">
        <meta property="OG:description" content="Just a guy and a computer. Take a look at some of my projects!">
        <meta property="OG:image" content="/static/images/PorjectIcons/Me.jpg">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body class="transparent">
        <div id="app" class="transparent">
            <v-app class="transparent">
                <v-main class="transparent">
                    <h1 style="text-align:center; font-size:70px;" v-if="leaderboard.length != 0">[[leaderboard[0].world_name]] - [[leaderboard[0].trail_name]]</h1>
                    <v-container fill-height fluid>
                        <v-col>
                            <v-row style="font-size:40px;" align="center" justify="center" v-for="(item, i) in leaderboard" :key="i">
                                [[i+1]] - [[item.steam_name]] - [[item.total_time]] on the [[item.bike]] <img :src="item.avatar_src" height="50" width="50">
                            </v-row>
                        </v-col>
                    </v-container>
                </v-main>
            </v-app>
        </div>
    </body>
    <style>
        .transparent{
            background-color:rgba(0, 0, 0, 0)
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/static/leaderboard.js"></script>
</html>