<html lang="en" class="transparent">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Leaderboard</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/Descenders Competitive Logo.png">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta property="OG:image" content="/static/images/Descenders Competitive Logo.png">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body class="transparent">
        <div id="app" class="transparent">
            <v-app class="transparent">

                <v-main class="transparent" id="leaderboard">
                    <h1 style="text-align:center; font-size:70px; text-decoration: underline;" v-if="leaderboard.length != 0">
                        [[trailName]]
                    </h1>
                    <v-container fill-height fluid>
                        <v-col>
                            <v-row
                                style="text-align: left; font-size:40px; color: white;"
                                align="center"
                                justify="center"
                            >
                                <table style="text-align: center; font-size:40px;">
                                    <tr style="text-align: center; font-size:40px;">
                                        <th style="padding:10px;">Place</th>
                                        <th style="padding:10px;">Name</th>
                                        <th style="padding:10px;">Time</th>
                                    </tr>
                                    <tr v-if="leaderboard.length != 0" style="text-align: center; font-size:40px;" v-for="(item, i) in leaderboard" :key="i">
                                        <td style="padding:10px;">
                                            [[i+1]]
                                        </td>
                                        <td v-for="(x, i) in item" style="padding:10px;" v-if="i == 1">
                                            [[x]]
                                        </td>
                                        <td v-for="(x, i) in item" style="padding:10px;" v-if="i == 3">
                                            [[secs_to_str(x)]]
                                        </td>
                                    </tr>
                                </table>
                            </v-row>
                        </v-col>
                    </v-container>
                </v-main>
            </v-app>
        </div>
    </body>
    <style>
        .transparent{
            background-color:rgba(0, 0, 0, 0)
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/static/js/leaderboard.js"></script>
</html>